@model IEnumerable<anketaApp.Models.form>


@{ViewBag.Title = "Список форм"; }

<div class="form_details">

    <div class="row form_head">
        <div class="col-md-12">
            <h2>Список форм</h2>
        </div>
    </div>

    <div class="forms_list">

        @foreach (var item in Model)
        {
            <div class="one_form">
                <h3>@item.name</h3>
                <h6 class="date_h6">@item.date_start</h6>
                <h5>
                    <img class="icon" src="~/Content/icons/passage-of-time.svg" /> 
                    @if (item.id_state == 1)
                    { <b>Информация собирается</b> }
                    else
                    { <b>Информация не собирается</b> }
                </h5>
                <h6>Количество участников: @item.getCountUser()</h6>
                <a class="btn btn-default" href="@Url.Action("Details","Forms",new { id=item.id})">просмотреть</a>
             </div>
        }

    </div>

    <div class="add_form">
        <a href="/forms/create" class="btn btn-success">Добавить форму</a>
    </div>

</div>
