@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron main_page_block">
    <h1 class="text-center">Конструктор форм</h1>
    <p class="lead text-center">Здесь Вы можете создать форму.</p>
    <p class="text-center"><a href="/Users/Login" class="btn btn-primary btn-lg">Войти &raquo;</a></p>
</div>

